html{
    box-sizing: border-box;
    margin: auto;
}
body{
    background-color: #222222;
    color: #ffffff;

}
.encabezado{
    margin-bottom: 10px;
    background-image: url(../image/gym.jpg);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: #FA711B;
    text-align: center;
}
.encabezado h1{
    margin: 0;
}
.box{
    padding-top: 20px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.formulario{
    width: 350px;
    height: 400px;
    margin: auto;
    border: 1px solid #FA711B;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}
input{
    flex-basis: 250px;
    padding: 0px 20px;
    margin: 0 20px;
}
.btn{
    height: 25px;
    background-color: #FA711B;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    font-size: 1.3rem;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    color: #FA711B;
    margin-left: 150px;
}